In [1]:
print("hello world!!")

hello world!

#VARIABLES AND DATA TYPES IN PYTHON O

In [4]:
bool_a = (12>= 4)
bool_b = (12== 4*4)
print(bool_a,bool_b)

True False

#Number Data Types

In [7]:
a = 75
print(a)# the output is an integer data type
type(a)

75

int

In [8]:
b = 79.8
print(b)# a floating number
type(b)

79.8

float

In [9]:
c = 5.6e7
print(c)

56000000.0

In [10]:
abc = 2 + 4j
xyz = 1 + -2j
qrs = abc + xyz
print(qrs)

(3+2j)

#NUMBERS CONVERSION

In [11]:
int(92.6)#float to int

92

In [12]:
float(77)#int to float

77.0

In [13]:
complex(55)#integer to complex

(55+0j)

#Arithmetic Operators

In [14]:
2+16#addition

18

In [15]:
9*9# multiplication operator

81

In [16]:
6**7# exponent

279936

In [17]:
8/4# division

2.0

In [18]:
8//3#floor

2

In [20]:
7%2#modulos

1

In [21]:
12-8#subtraction section

4

#Comparision Operators  Frequently Used

In [22]:
15 == 3*2*2

False

In [23]:
4*2<=5*3+2

True

In [24]:
15!=3*5

False

In [25]:
8*4>24

True

In [26]:
10<(2*12)

True

In [27]:
25>=(60*2)

False

#Assign  Operators

In [28]:
x = 3*9
x

27

In [29]:
x = 12
y = 5
y+=12
print(y)#add and +=

17

In [32]:
p = 15
q = 13
p -= q
print(p)#subtract and-=

2

In [33]:
x = 15
y = 3
x *=y
print(x)

45

In [34]:
a = 15
xyz = 45
xyz/= a
print(xyz)

3.0

#CREATING A BILL CALCULATOR WHICH ILLUSTRATES HOW OPERATORS ARE OF IMPORTANCE IN PYTHON

In [35]:
meal = 45
sales_tax =7/100
tip = 20/100
meal += meal * sales_tax
bill = meal + meal*tip

#BUILT-IN FUNCTIONS IN PYTHON

In [36]:
abs(-9)

9

In [38]:
max(30,34,56,21,20,93,45)

93

In [39]:
min(65,32,65,5,-4,0)

-4

In [40]:
round(9.4567,2)

9.46

#MATH METHODS

In [42]:
import math
math.ceil(98.75)

99

In [43]:
import math
math.floor(98.01)

98

In [44]:
math.fabs(-13)

13.0

In [45]:
math.pow(5,6)

15625.0

In [46]:
math.sqrt(100)

10.0

In [47]:
math.log(100.12)

4.6063694665635735

    #STRINGS

In [48]:
string_var = "Python String"
print(string_var)

Python String

In [49]:
string_var[2]

't'

In [50]:
string_var[-1]

'g'

In [51]:
len(string_var)

13

#slicing strings

In [52]:
string_var[2:12]

'thon Strin'

In [53]:
b = "Programmer"
print(b)

Programmer

In [54]:
b[3:8]

'gramm'

#strings concatenating

In [55]:
string_one = "program"
string_two = "is"
string_three = "worth watching"
print("An excellent "+string_one[:7]+""+string_two+""+string_three+".")

An excellent programisworth watching.

In [56]:
sign_string = "*<>*"
sign_string *5

'*<>**<>**<>**<>**<>*'

#upper() and lower() functions on a string

In [59]:
smart_var = "Europe"
print(smart_var.upper())

EUROPE

In [61]:
print(smart_var.lower())

europe

In [62]:
a = 'Garden'
a.swapcase()

'gARDEN'

In [64]:
x = "HAPPY"
x.title()

'Happy'

In [65]:
s = "It is not what you think it is but it is good enough for this purpose."
s.count('is')

4

In [66]:
s = "A string an immutable character or series of character."
s.find("string")

2

In [67]:
s = ("programs")
s.isalpha()

True

In [69]:
c = "Programmer1"
c.isalnum()

True

In [70]:
p = "4prayer"
p.isidentifier()

False

In [71]:
sep = "**";
seq = ("p","r","o","g","r","a","m","m","e","r")
print(sep.join(seq))

p**r**o**g**r**a**m**m**e**r

In [72]:
str = "  this is a string with too many whitespaces";
str.lstrip()

'this is a string with too many whitespaces'

In [73]:
s = "  This is an example of a string. "
s.strip()

'This is an example of a string.'

In [75]:
y = "****I'm better off without these symbols.******"
y.strip('*')
print(y.strip('*'))

I'm better off without these symbols.

In [76]:
str1 = "Programming is a skill that can be learned by anyone."
str2 ="skill"
str1.rfind(str2)

17

In [77]:
str1 = "This is a good example of a practical programming examination."
str2 = "exam"
str1.index(str2)

15

In [79]:
str1 = "Programming is a challenging and rewarding job."
str2 = "ing"
str1.rfind(str2)

39

In [80]:
str = 'A0356'
str.zfill(10)

'00000A0356'

#OUTPUT FORMATTING

In [81]:
#Print function
print('Programming is a challenging and rewarding activity.')

Programming is a challenging and rewarding activity.

In [82]:
x = 200
print('The value of a is',x)

The value of a is 200

In [83]:
y = 4*4
xy = x + y
print(xy)

216

In [84]:
#str.format for formating strings
a = 'Programming is a challenging and {} activity.'
a.format('rewarding')

'Programming is a challenging and rewarding activity.'

In [85]:
x = 'This value of a is {}, b is {}, and c is {}.'
x.format('50','55','100')

'This value of a is 50, b is 55, and c is 100.'

In [86]:
a = 50;b = 55;c = 100
print('The value of a is {},b is {}, and c is {}.'.format(a,b,c))

The value of a is 50,b is 55, and c is 100.

In [87]:
a = 50;b = 55;c = 100
print('The value of c is{2}, a is {0},and b is {1}.'.format(a,b,c))

The value of c is100, a is 50,and b is 55.

In [88]:
print('Item No.: %8d, Price per piece: %8.2f'%(2546, 155.6287))

Item No.:     2546, Price per piece:   155.63

In [89]:
#OTHER FORMATING OPTIONS
# Left justification
"{0:<35s} {1:6.2f}".format('Pepperoni and Cheese',7.99)

'Pepperoni and Cheese                  7.99'

In [91]:
a = 'Block Forest'
a1 = 4.99
b = 'Double Dutch'
b1 = 4.50
print("The price of {0:<25s} is {1:6.2f} while the price of {2:<25s} is {3:6.2f}".format(a,a1,b,b1))

The price of Block Forest              is   4.99 while the price of Double Dutch              is   4.50

In [92]:
#Right justification
"{0:>20s} {1:7.2f}".format("Ham and Cheese:", 4.99)

'     Ham and Cheese:    4.99'

In [93]:
#Center justification
print("The average price of a {c:^8s} is {b:5.2f}.".format(a='pizza',b=2.50,c='slice'))

The average price of a  slice   is  2.50.

In [94]:
# Enables padding of leading zero(s) for numbers when placed before the with field.
print("The code for Elbow Catch is {:08d}.".format(12))

The code for Elbow Catch is 00000012.

In [95]:
# forces assign placement before zero- padding
print("Elbow Catch has a stock of {0:=08d} {1:^8s}.".format(-8, 'pieces'))

Elbow Catch has a stock of -0000008  pieces .

#LISTS

In [96]:
num_list = [0,5,10,15,50,14]
print(num_list)

[0, 5, 10, 15, 50, 14]

In [97]:
# Accessing Elements on a List
school_list = ["Biology","English","Chemistry","Sociology","Algebra"]
school_list[0]

'Biology'

In [98]:
school_list[4]

'Algebra'

In [99]:
school_list[4][4]

'b'

In [100]:
# nested indexing
nested_list = ["code",4,[1,3,5,7,9]]
nested_list[0]

'code'

In [101]:
nested_list[0][1]

'o'

In [102]:
nested_list[2]

[1, 3, 5, 7, 9]

In [103]:
nested_list[2][0]

1

In [104]:
nested_list[2][3]

7

In [105]:
nested_list[1]

4

In [106]:
# negative indexing 
quick_list = ["s","h","o","r","t","c","u","t"]
quick_list[-1]

't'

In [107]:
#Slicing listst
hw_list = ['H','e','l','l','o','W','o','r','l','d']
hw_list[5:]

['W', 'o', 'r', 'l', 'd']

In [108]:
hw_list[3:6]

['l', 'o', 'W']

In [109]:
hw_list[:-4]

['H', 'e', 'l', 'l', 'o', 'W']

In [110]:
hw_list[0:5]

['H', 'e', 'l', 'l', 'o']

In [111]:
hw_list[:]

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [112]:
    #Adding Elements of  a list
    even = [2,4,6,8,10,12]
    even.append(14)
    even

[2, 4, 6, 8, 10, 12, 14]

In [114]:
even = [2,4,6,8,10,1]# we use append() and extend() to add elements of a list
even.extend([16,18,20,22])
even

[2, 4, 6, 8, 10, 1, 16, 18, 20, 22]

In [115]:
#Changing Elements of a list
even = [1,3,5,7,9,12]
even[0]= 2
print(even)

[2, 3, 5, 7, 9, 12]

In [116]:
even[1:5]= [4,6,8,10]
print(even)

[2, 4, 6, 8, 10, 12]

In [117]:
#Concatenating and Repeating Lists
animals = ["dog","cat","giraffe","bear"]
babies = ["puppy","kitten","calf","cub"]
animals + babies

['dog', 'cat', 'giraffe', 'bear', 'puppy', 'kitten', 'calf', 'cub']

In [118]:
vowels = ['a','e','i','o','u']
vowels + [1,2,3,4,5]

['a', 'e', 'i', 'o', 'u', 1, 2, 3, 4, 5]

In [119]:
abc = ['a','b','c']*5
abc

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [120]:
#Inserting Items
numbers = [1,2,4,8,9,10]
numbers.insert(2,3)
numbers

[1, 2, 3, 4, 8, 9, 10]

In [122]:
#Deleting Items
numbers = [1,3,5,6.5,7,7.5,9]
numbers.remove(6.5)
numbers.remove(7.5)
numbers

[1, 3, 5, 7, 9]

In [124]:
my_list = ["apples","oranges","yellow","peach","pear"]
my_list.pop(3)
my_list

['apples', 'oranges', 'yellow', 'pear']

In [125]:
my_list.clear()
my_list

[]

In [126]:
list_1 = [1,7,4,9.5,3,6.5,15,0]
list_1.sort()
print(list_1)

[0, 1, 3, 4, 6.5, 7, 9.5, 15]

In [127]:
list_1.reverse()
print(list_1)

[15, 9.5, 7, 6.5, 4, 3, 1, 0]

In [129]:
my_numbers = [4,3,2,9,3,4,9,3]
my_numbers.count(3)

3

In [130]:
# testing for membership on a list
my_numbers = [1,9,38,15,4,20,7,10]
7 in my_numbers

True

#Built-in functions with list

In [131]:
len(my_numbers)

8

In [132]:
list = [0,5,10,15,20,25]
max(list)

25

In [133]:
min(list)

0

In [134]:
sum(list)

75

In [135]:
sorted(list)

[0, 5, 10, 15, 20, 25]

In [137]:
#list comprehension
pow3 = [3**y for y in range(15)]
print(pow3)

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683, 59049, 177147, 531441, 1594323, 4782969]

In [138]:
even = [x for x in range(18) if x%2==0]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16]

TUPLES

In [141]:
tup = (10,9,8,7,6,5,4,3,2,1)
print(tup)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [142]:
my_tuple = ("Python",(5,15,20),[2,1,4])
print(my_tuple)

('Python', (5, 15, 20), [2, 1, 4])

In [144]:
#Accessing tuple elements
my_tuple =('P','r','o','g','r','a','m','m','e','r')
my_tuple[1]

'r'

In [145]:
my_tuple[5]

'a'

In [147]:
#Negative indexing
my_tuple[-3]

'm'

In [148]:
# Slicing a tuple
new_tuple = ('i','m','m','u','t','a','b','l','e')
new_tuple[4:7]

('t', 'a', 'b')

In [149]:
new_tuple[2:]

('m', 'u', 't', 'a', 'b', 'l', 'e')

In [150]:
new_tuple[:4]

('i', 'm', 'm', 'u')

In [151]:
#Changing, Reassigning, and Deleting Tuples
my_tuple = ('a',5,3.5,['p','y','t','h','o','n'])
my_tuple[3][2] = 'x'
my_tuple

('a', 5, 3.5, ['p', 'y', 'x', 'h', 'o', 'n'])

In [1]:
my_tuple = ('c','o','d','e','r')

In [2]:
#Tuple membership test
our_tuple = ('p','r','o','g','r','a','m','m','e','r')
'g' in our_tuple

True

In [3]:
# Python tuple methods
new_tuple = ("p","r","o","g","r","a","m","m","e","r")
new_tuple.count('m')

2

In [4]:
new_tuple.index('m')

6

In [5]:
tuple_one =('cat','dog','lion','elephant','zebra')
len(tuple_one)

5

In [7]:
numbers_tuple = (1,5,7,9,10,12)
max(numbers_tuple)

12

In [8]:
numbers_tuple = (1,5,7,9,10,12)
min(numbers_tuple)

1

In [9]:
my_tuple = ('dog','bird','ant','cat','elephant')
sorted(my_tuple)

['ant', 'bird', 'cat', 'dog', 'elephant']

In [10]:
my_tuple = (5,10,15,20,25,30)
sum(my_tuple)

105

In [11]:
tuple("Programmer")

('P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r')

In [12]:
my_string = ("Hello World")
tuple(my_string)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [13]:
my_dict = {'Name':'Jack','Area':'Florida','subscription':'premium'}
tuple(my_dict)

('Name', 'Area', 'subscription')

In [14]:
my_list = ['interest','rate','principal','discount','rollover']
tuple(my_list)

('interest', 'rate', 'principal', 'discount', 'rollover')

In [16]:
my_tuple = (1,3,5,7,9,11,13,15)
enumerate(my_tuple)

In [18]:
for fruit in('apple','peach','pineapple','banana','orange'):
    print("I love" +  fruit)

I loveapple
I lovepeach
I lovepineapple
I lovebanana
I loveorange

SETS

In [19]:
my_set = {1,4,6,8,9,10}
print(my_set)

{1, 4, 6, 8, 9, 10}

In [20]:
my_set = {2,4,6,8,10}
my_set.add(12)
my_set

{2, 4, 6, 8, 10, 12}

In [21]:
my_set = {2,4,6,8,10}
my_set.update([14,16,18,20])
my_set

{2, 4, 6, 8, 10, 14, 16, 18, 20}

In [24]:
my_set = {'a','b','c','d','e','f','g'}
my_set.discard('c')
my_set

{'a', 'b', 'd', 'e', 'f', 'g'}

In [25]:
my_set.discard('b')
my_set

{'a', 'd', 'e', 'f', 'g'}

In [26]:
my_set = {'a','e','i','o','u'}
my_set.pop()

'o'

In [1]:
#Set operations
#set union
x = {1,2,3,4,5}
y = {7,8,9,10,11}
x|y

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

In [2]:
x.union(y)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

In [3]:
y.union(x)

{1, 2, 3, 4, 5, 7, 8, 9, 10, 11}

In [4]:
x&y

set()

In [5]:
x = {1,3,4,5,6}
y = {3,5,8,7,9}
print(x&y)

{3, 5}

In [6]:
y - x

{7, 8, 9}

In [7]:
a = {1,3,5,7,9}
b = {2,3,5,8,9}
a^b # set symmetric difference

{1, 2, 7, 8}

In [8]:
my_set = ('land','sea','river','mountain')
'land' in my_set

True

In [9]:
#Built in Functions on Sets
len(my_set)

4

In [10]:
max(my_set)

'sea'

In [11]:
min(my_set)

'land'

In [12]:
sorted(my_set)

['land', 'mountain', 'river', 'sea']

In [13]:
a = {1,3,6,8,9,10}
sum(a)

37

In [15]:
p = {'r','k','t','y'}
enumerate(p)

In [19]:
for letter in set('Engineer'):
    print(letter)

E
g
r
i
e
n

In [22]:
x = frozenset([1,3,9,4])
y = frozenset([5,6,1,10])
x.difference(y)

frozenset({3, 4, 9})

In [23]:
x|y

frozenset({1, 3, 4, 5, 6, 9, 10})

DICTIONARY

In [26]:
my_dict = {'Name':'Mark','Age':'24','Ranking':'5th','Average':89.5}
my_dict['Name']

'Mark'

In [27]:
my_dict.get('Ranking')

'5th'

In [29]:
#Addition and Modification of dictionaries
my_dict['Status']= 'Regular'
my_dict

{'Name': 'Mark',
 'Age': '24',
 'Ranking': '5th',
 'Average': 89.5,
 'Status': 'Regular'}

In [30]:
my_dict['Ranking']= '3rd'
print(my_dict)

{'Name': 'Mark', 'Age': '24', 'Ranking': '3rd', 'Average': 89.5, 'Status': 'Regular'}

In [32]:
# Deleting elements in a dictionary
my_dict = {'Ocean':'Pacific','Sea':'Baltic Sea','river':'Danube','swamp':'The Everglades'}
my_dict.pop('river')
my_dict

{'Ocean': 'Pacific', 'Sea': 'Baltic Sea', 'swamp': 'The Everglades'}

In [ ]:
#Other python dictionary methods